@model PatientSurvey.Models.SurveyResults

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>Hospital</th>
            <th>Average Overall Care Rating</th>
        </tr>
    
    @foreach (var rating in Model.Ratings) {
        <tr>
            <td>
                @rating.HospitalName
            </td>
            <td>
                @string.Format("{0}/10", Decimal.Round(rating.OverallCareRating * 10, 0))
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
