@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Trevelyan Square, Boar Lane, Leeds, LS1 6AE<br />
    <abbr title="Phone">P:</abbr>
    0845 300 6016
</address>

<address>
    <strong>Enquiries:</strong>   <a href="mailto:enquiries@hscic.gov.uk">enquiries@hscic.gov.uk</a><br />
</address>